{{ember-header}}
<h2>Welcome to Ember</h2>

<div class="highlight javascript ">
  <div class="ribbon"></div>
  <div class="scroller">
    <table class="CodeRay"><thead><tr><td colspan="2">app/router.js</td></tr></thead>
      <tbody><tr> <td class="line-numbers"><pre>1
2
3
</pre></td> <td class="code"><pre>Router.map(<span class="keyword">function</span>() {
  <span class="local-variable">this</span>.route(<span class="string"><span class="delimiter">'</span><span class="content">posts</span><span class="delimiter">'</span></span>);
});
</pre></td>
</tr></tbody></table>
</div></div>
{{outlet}}
